@tailwind base;
@tailwind components;
@tailwind utilities;

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-Index: 20;
  }

  #modal {
    /* position: fixed; */
    height: 200px;
    width: 100px;
    border-radius: 2rem;
    /* transform: translate(-50rem, -50rem); */
    z-Index: 1000;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }